<html>
<head>
<title>CSS</title>
<style>
h2{
color:red;
text-align:center;
}
body{
bachground-color: ff00ff;
}
</style>
<body>
<h1>My first CSS code</h1>
<h2>Example code for css</h2>
<p>This is a paragraph</p>
<h2>I am learing css</h2>
</body>
</html>